<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB APP - Grave seu Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

</head>
<body>
    <h1>Ê gurias qual vai ser?</h1>
    <form action="" method="post">
        <label for="">Nome: </label>
        <input type="text" name="name" required><br>
        <label for="">Email:</label>
        <input type="text" name="email" required><br>
        <input type="submit" value="Registrar">
    </form>
</body>
</html>